<!DOCTYPE html>
<html>
	<head>
		<title>사업자 진위 여부 확인 서비스</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>

		<div id="content">
			<div>본 사이트는 <img src="/images/ntsLogo.png"></img>국세청 open api를 통해 정보를 제공합니다.</div>
			<div id="contactDiv">
				<input type="text" name="subject" placeholder="제목" form="contactForm" />
				<textarea name="content" placeholder="내용" form="contactForm"></textarea>
				<input type="hidden" name="path" form="contactForm" />
				<input type="hidden" name="sendAt" form="contactForm" />

				<form id="contactForm" action="/contact" method="POST">
					<input type="submit" value="보내기">
				</form>
			</div>
			<%- include('./backArrow.ejs') %>
		</div>

		<div id="advertizing">
			<p>ad soon</p>
		</div>

		<%- include('./contactBtn.ejs') %>
	</body>
</html>
