:root {
	--background: white;
	--point: rgb(63,55,212);
	--font-strong: black;
	--font-normal: grey;
	--font-weak: white;
	--button-color: rgba(146,141,232, 0.3);
	--quote-bg: rgba(146,141,232, 0.3);
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 8fr 2fr;
}

button {
	cursor: pointer;
}

/** grid setting **/
#content {
	grid-column: 1/2;
	grid-row: 1/3;
	background-color: var(--background);
	height: 100vh;
}
#advertizing {
	grid-column: 2/3;
	grid-row: 1/2;
	background-color: grey;
}
#contact {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;
	margin-top: 6vh;
}

#content > div:nth-of-type(1) {
	background-color: var(--point);
	color: white;
	height: 5vh;
	text-align: center;
	box-sizing: border-box;
	padding-top: 1vh;
}
#content > div:nth-of-type(1) > img {
	position: relative;
	top: 0.3vh;
	height: 2.5vh;
}
#content > button {
	width: 40%;
	height: 10%;
	background-color: var(--button-color);
	color: white;
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 1.2rem;
	position: relative;
	left: 7%;
	top: 5%;
}
#content > button:nth-of-type(2) {
	left: 12%;
}

#advertizing > p {
	color: black;
	display: block;
	text-align: center;
	margin-top: 40vh;
}

/**	#content > div:nth-of-type(2) {	**/
#quote {
	position: relative;
	text-align: center;
	top: 50%;
	left: 20%;
	width: 60%;
	font-size: 1.2rem;
	background-color: var(--quote-bg);
	padding: 1vw;
	border-radius: 20px;
	line-height: 2rem;
}

#valid {
	position: relative;
	height: 20%;
	top: 30%;
	width: 80%;
	left: 2%;
}
/**	#valid > button:nth-of-type(1) {	**/
#validSingleBtn {
	position: absolute;
	width: 40%;
	left: 20%;
	height: 40%;
	border-left: none;
	border-bottom: none;
	background-color: white;
	top: -70%;
	font-size: 1.5rem;
	box-sizing: border-box;
	outline: none;
}
#validSingleBtn_ {
	position: absolute;
	width: 40%;
	left: 60%;
	height: 40%;
	border: none;
	border-top: solid 2px black;
	background-color: transparent;
	top: -30%;
	font-size: 1.5rem;
	box-sizing: border-box;
	outline: none;
}
/** #valid > button:nth-of-type(2) {	**/
#validMultiBtn {
	position: absolute;
	width: 40%;
	left: 60%;
	height: 40%;
	border: none;
	background-color: white;
	top: -70%;
	font-size: 1.5rem;
	box-sizing: border-box;
	outline: none;
}
#validMultiBtn_ {
	position: absolute;
	width: 40%;
	left: 20%;
	height: 40%;
	border: none;
	border-top: solid 2px black;
	background-color: transparent;
	top: -30%;
	font-size: 1.5rem;
	box-sizing: border-box;
	outline: none;
}
#valid > button:nth-of-type(3) {
	position: absolute;
	width: 80%;
	height: 50%;
	left: 20%;
	top: 190%;
	font-size: 2.0rem;
}

#validSingleSearch {
	display: grid;
	grid-template-columns: 1fr 2fr; 
}
#validSingleSearch p {
	grid-column: 1/2;
	text-align: center;
	font-size: 1.2rem;
	margin-left: 30%;
}
#validSingleSearch input {
	grid-column: 2/3;
	height: 70%;
	margin-top: 1%;
	padding-left: 5%;
	font-size: 1.3rem;
}
#validSingleSearch {
}

#validMultiSearch {
	position: relative;
	left: 10%;
	top: -80%;
}
#validMultiSearch > button:nth-of-type(1) {
	position: relative;
	width: 30%;
	left: 15%;
	height: 15vh;
	font-size: 1.8rem;
}
#validMultiSearch > button:nth-of-type(2) {
	position: relative;
	width: 30%;
	left: 25%;
	height: 15vh;
	font-size: 1.8rem;
}
#validMultiSearch {
}

td {
	padding-left: 2vw;
}

.paramsTable {
	position: absolute;
	width: calc(75vw/2);
	height: 25vh;
	top: 20vh;
	box-sizing: border-box;
	padding-left: 12vw;
	font-size: 1.5rem;
}

.resultTable {
	position: absolute;
	height: 25vh;
	left: calc(75vw/3);
	top: 20vh;
	box-sizing: border-box;
	padding-left: 12vw;
	font-size: 1.5rem;
}
.resultTable td {
	font-size: 2rem;
}

.resultDetailTable {
	position: absolute;
	height: 25vh;
	left: calc(75vw/3);
	top: 45vh;
	box-sizing: border-box;
	padding-left: 12vw;
	font-size: 1.5rem;
}
