<!DOCTYPE html>
<p>사업자 번호</p>
<input type="text" placeholder="숫자만 입력하세요." name="businessNumber"></input>
<p>대표명</p>
<input type="text" placeholder="대표명을 입력하세요." name="representative"></input>
<p>설립일</p>
<input type="text" placeholder="예시) 20020301" name="startDate"></input>
