<!DOCTYPE html>
<button id='validSingleBtn'>일반 조회</button>
<button id='validMultiBtn'>대량 조회</button>

<div id='validSingleSearch'>
	<p>사업자 번호</p>
	<input type="text" placeholder="숫자만 입력하세요." name="businessNumber" form="reqAPIForm"></input>
	<p>대표명</p>
	<input type="text" placeholder="대표명을 입력하세요." name="representative" form="reqAPIForm"></input>
	<p>설립일</p>
	<input type="text" placeholder="예시) 20020301" name="startDate" form="reqAPIForm"></input>
</div>

<div id='validMultiSearch'>
	<input id="fileInput" type="file" name="selectedFile" form="reqAPIForm" />

	<form action="/downloadForm" method="POST">
		<input type="hidden" name="formCase" value="valid_multi" />
		<button type="submit">양식 받기</button>
	</form>
</div>

<form id="reqAPIForm" action="/apiRequest/single" method="POST"></form>

<button id="reqAPIBtn">조회하기</button>

<!-- I used button tag to get its default style : START --!>
<button id='validSingleBtn_'></button>
<button id='validMultiBtn_'></button>
<!-- I used button tag to get its default style : END --!>
