<!DOCTYPE html>
<button id='validSingleBtn'>일반 조회</button>
<button id='validMultiBtn'>대량 조회</button>

<div id='validSingleSearch'>
	<p>사업자 번호</p>
	<input type="text" placeholder="숫자만 입력하세요." name="businessNumber" form="reqAPIForm"></input>
	<p>대표명</p>
	<input type="text" placeholder="대표명을 입력하세요." name="representative" form="reqAPIForm"></input>
	<p>설립일</p>
	<input type="text" placeholder="예시) 20020301" name="startDate" form="reqAPIForm"></input>
</div>

<div id='validMultiSearch'>
    <label for="fileInput">파일찾기</label> 
    <input class="filename" value="" placeholder="첨부파일">
    <input type="file" id="fileInput" name="selectedFile" form="reqAPIForm" />

	<form action="/downloadForm" method="POST">
		<input type="hidden" name="formCase" value="valid_multi" />
		<button type="submit">양식 받기</button>
	</form>
	<p>
	* 파일 사이즈는 최대 1mb입니다.<br>
	* 사업자 번호, 사업 개시일은 예시와 같이 숫자만 써 주세요.<br>
	* 잘못된 인자(사업자 번호, 대표명, 사업 개시일)는 붉은 배경으로 표시됩니다.
	</p>
</div>

<button id='validSingleBtn_'></button>
<button id='validMultiBtn_'></button>
