<!DOCTYPE html>
<button>일반 조회</button>
<button>대량 조회</button>
<div id='singleSearch'>
<%- include('./singleSearch.ejs') %>
</div>
<div id='multiSearch'>
<%- include('./multiSearch.ejs') %>
</div>

<button>조회하기</button>
